<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="loc.css">
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div id="top">
            <h1> Login <strong> here </strong> </h1>
            <br>
            <form class="form" action="login" method="POST">
                <!--- {% csrf_token %} -->
                <lable> User Name </lable> <br>
                <input class="form1" type="text" name="name" required></br>
                <br>
                <lable> Password </lable> <br>
                <input class="form1" type="password" name="password1" required></br>
                <br>
                <input id="sub" type="submit" value="submit">
                
                <br>
            
            <form>
            <!---
            <div>
            {% for i in messages %}
            <h2> {{i}} </h2>
            {% endfor %}
        </div>  -->
    </div>
        <script src="" async defer></script>
    </body>
</html>