{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>driverRegister</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/register.css">
    </head>
    <body>
        <div id="top">
        <form class="form" action="driverRegister" method="POST">
            {% csrf_token %}
            <h1> Register here! </h1>
            <lable>Name</lable><br>
            <br>
            <input class="form1" id="name" type="text" name="name" required></br>
            <br>
            <lable>Busnumber</lable><br>
            <br>
            <input class="form1" type="te" name="busnumber" required></br>
            <br>
            <lable>Api</lable><br>
            <br>
            <input class="form1" type="text" name="apikey" required></br>
            <br>
            <lable>deviceid</lable><br>
            <br>
            <input class="form1" type="text" name="deviceid" required></br>
            <br>
            <lable>url</lable><br>
            <br>
            <input class="form1" type="text" name="url" required></br>
            <br>
            <lable>Password</lable><br>
            <br>
            <input class="form1" type="password" name="password" required></br>
            <br>
            <input id="sub" type="submit" value="submit">
        <form>
        </div>
        <div>
            {% for i in messages %}
            <h2> {{i}} </h2>
            {% endfor %}
        </div>
        <script src="" async defer></script>
    </body>
</html>