{% load static %}
<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../static/login.css">
        <script>
           
        </script>
    </head>
    <body>
        <div id="top">
        <h1> Login <strong> here </strong> </h1>
        <br>
        <form action="login" method="POST">
            {% csrf_token %}
            <lable> R no </lable> <br>
            <input class="form1" type="text" name="rno" id="rno" required></br>
            <br>
            <lable> Bus number </lable> <br>
            <input class="form1" type="text" name="busnumber" id="busnumber" required></br>
            <br>
            <lable> Password </lable> <br>
            <input class="form1" type="password" name="password1" required></br>
            <br>
            <input id="sub" onclick="find()" type="submit" value="submit">
            <br>
            <br>
            <h4> click here to<a href="register"> Register</a></h4>
            <br>
        </form>
    </div>
    </body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
       
        {% for i in messages %}
                swal('{{i}}')
            {% endfor %}
            
       
    </script>