{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/register.css">
    </head>
    <body>
        <div id="top">
        <form class="form" action="register" method="POST">
            {% csrf_token %}
            <h1> Register here! </h1>
            <lable>R no</lable><br>
            <br>
            <input class="form1" id="rno" type="text" name="rno" required></br>
            <br>
            <lable>Email</lable><br>
            <br>
            <input class="form1" type="email" name="email" required></br>
            <br>
            <lable>Busnumber</lable><br>
            <br>
            <input class="form1" type="text" name="busnumber" required></br>
            <br>
            <lable>Stopname</lable><br>
            <br>
            <input class="form1" type="text" name="stopname" required></br>
            <br>
            <lable>Password</lable><br>
            <br>
            <input class="form1" type="password" name="password1" required></br>
            <br>
            <lable>Conform Password</lable><br>
            <br>
            <input class="form1" type="password" name="password2" required></br>
            <br>
            <input id="sub" type="submit" value="submit">
        <form>
        </div>
        <div>
            {% for i in messages %}
            <h2> {{i}} </h2>
            {% endfor %}
        </div>
        <script src="" async defer></script>
    </body>
</html>